{% for post in posts %}
    <div>
        <h1><a href="{{post.post-link}}">{{post.title}}</a></h1>
        {{post.body | safe}}
        {% if post.truncated %}
        <p><a href="{{post.post-link}}">Continue reading</a></p>
        {% endif %}
        <div class="post-footer">
            <div class="post-details">
{% if post.tags %}
                <div>
                    🏷
{% for tag in post.tags %}
                    <span class="tag">
                        <a href="tags/{{tag}}.html">{{tag}}</a>
                    </span>
{% endfor %}
                </div>
{% endif %}
{% if post.discuss %}
                <div>📣 Discuss this post <a href="{{post.discuss}}">here</a></div>
{% endif %}
                <div>📝 Published: {{post.date}}</div>
            </div>
{% if all forloop.last post.prev %}
            <div class="post-prev-next">
                <div>
                    📚 Read more:
                    <a href="{{post.prev.file|replace:.md:.html}}">{{post.prev.title}}</a>
                </div>
            </div>
{% endif %}
        </div>
    </div>
{% endfor %}
