{:title "Summertime (and the writing ain’t easy)"
 :file "2022-06-15-summertime.md"
 :tags #{"stories"}
 :date "2022-06-15"}
{:title "Story of a mediocre fan"
 :file "2022-06-16-story-of-a-mediocre-fan.md"
 :tags #{"arsenal" "stories"}
 :date "2022-06-16"}
{:title "Creating a blog with Clojure in 50 simple steps"
 :file "2022-06-17-creating-a-blog-with-clojure.md"
 :tags #{"clojure" "nix" "50-simple-steps" "babashka"}
 :date "2022-06-17"}
{:title "Aberrant poetry"
 :file "2022-06-18-aberrant-poetry.md"
 :tags #{"stories"}
 :date "2022-06-18"}
{:title "Actually blogging with Clojure"
 :file "2022-06-19-actually-blogging-with-clojure.md"
 :tags #{"clojure" "babashka"}
 :date "2022-06-19"}
{:title "Installing Steam on NixOS in 50 simple steps"
 :file "2022-06-20-installing-steam-on-nixos.md"
 :tags #{"nix" "games" "50-simple-steps"}
 :date "2022-06-20"}
{:title "The old todo list"
 :file "2022-06-21-todo-list.md"
 :tags #{"clojure" "nix" "babashka"}
 :date "2022-06-21"}
{:title "Those about to rock"
 :file "2022-06-22-about-to-rock.md"
 :tags #{"waffle"}
 :date "2022-06-22"}
{:title "Story of a mediocre fan: chapter 2"
 :file "2022-06-23-story-of-a-mediocre-fan-2.md"
 :tags #{"arsenal" "stories"}
 :date "2022-06-23"}
{:title "Using HTTPS with S3 static website hosting in 50 simple steps"
 :file "2022-06-24-s3-https.md"
 :tags #{"aws" "50-simple-steps"}
 :date "2022-06-24"}
{:title "Midsommar"
 :file "2022-06-25-midsommar.md"
 :tags #{"waffle"}
 :date "2022-06-25"}
{:title "Tying off loose ends"
 :file "2022-06-26-loose-ends.md"
 :tags #{"aws" "s3" "lambda" "clojure" "babashka"}
 :date "2022-06-26"}
{:title "Tennis, anyone?"
 :file "2022-06-27-tennis-anyone.md"
 :tags #{"tennis"}
 :date "2022-06-27"}
{:title "Hotter than hell... sinki"
 :file "2022-06-28-hotter-than-hellsinki.md"
 :tags #{"waffle"}
 :date "2022-06-28"}
{:title "Rover's birthday"
 :file "2022-06-29-rovers-birthday.md"
 :tags #{"waffle"}
 :date "2022-06-29"}
{:title "Story of a mediocre fan: chapter 3"
 :file "2022-06-30-story-of-a-mediocre-fan-3.md"
 :tags #{"arsenal" "stories"}
 :date "2022-06-30"}
{:title "The Warsaw Pact"
 :file "2022-07-01-warsaw-pact.md"
 :tags #{"waffle"}
 :date "2022-07-01"}
{:title "Two simple things"
 :file "2022-07-02-two-simple-things.md"
 :tags #{"waffle"}
 :date "2022-07-02"}
{:title "Blambda!"
 :file "2022-07-03-blambda.md"
 :tags #{"aws" "s3" "lambda" "clojure" "babashka"}
 :date "2022-07-03"}
{:title "Dogfooding Blambda! : revenge of the pod people"
 :file "2022-07-04-dogfooding-blambda-1.md"
 :tags #{"aws" "s3" "lambda" "clojure" "blambda" "babashka"}
 :date "2022-07-04"}
{:title "Hacking the blog: favicon"
 :file "2022-07-05-hacking-blog-favicon.md"
 :tags #{"clojure" "blog" "babashka"}
 :date "2022-07-05"}
{:title "Hacking the blog: categories"
 :file "2022-07-06-hacking-blog-categories.md"
 :tags #{"clojure" "blog" "babashka"}
 :date "2022-07-06"}
{:title "Story of a mediocre writer"
 :file "2022-07-07-story-of-a-mediocre-writer.md"
 :tags #{"arsenal" "writing"}
 :date "2022-07-07"}
{:title "A quick check-in"
 :file "2022-07-08-quick-check-in.md"
 :tags #{"waffle" "football" "euro-2022"}
 :date "2022-07-08"}
{:title "Story of a mediocre fan: chapter 4"
 :file "2022-07-09-story-of-a-mediocre-fan-4.md"
 :tags #{"arsenal" "stories"}
 :date "2022-07-09"}
{:title "Hands off women's football"
 :file "2022-07-10-hands-off-womens-football.md"
 :tags #{"football" "euro2022"}
 :date "2022-07-10"}
{:title "Hacking the blog: caching"
 :file "2022-07-11-hacking-blog-caching.md"
 :tags #{"clojure" "blog" "babashka"}
 :date "2022-07-11"}
